.hero {
  height: 66.3rem;
  @include respond(phone) {
    background-color: $color-secondary-opacity-2;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background: #e8f8f8;
    z-index: -100;
    @include respond(phone) {
      // left: 0;
      // top: 14%;
      // height: 103%;
      content: none;
    }
  }
  .section-center {
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;

    @include respond(big-tab) {
      justify-content: space-evenly;
      gap: 10rem;
    }
    @include respond(med-tab) {
      gap: 15rem;
    }
    @include respond(tab) {
      justify-content: center;
      gap: 8rem;
    }
    @include respond(phone) {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 5rem;
      justify-items: center;
      padding-top: 0;
    }
  }

  &-info {
    align-self: flex-start;
    padding-top: 12rem;

    @include respond(big-tab) {
      padding-top: 8rem;
    }
    @include respond(med-tab) {
      padding-top: 5.2rem;
    }
    @include respond(phone) {
      grid-row: 2;
      padding-top: 0;
    }
    &__underline {
      width: 6.8rem;
      height: 0.4rem;
      background: $color-secondary;
      margin-left: 0;
      margin-right: auto;
    }
    &__heading {
      color: $color-tertiary;
      font-weight: 900;
      font-size: 5.6rem;
      margin-bottom: 1rem;
      letter-spacing: $spacing;
    }
    .heading-description {
      color: $color-text;
      font-size: 1.8rem;
      letter-spacing: 0.2rem;
    }
  }
  &-img {
    height: 42rem;
    width: 42rem;

    @include respond(big-tab) {
      height: 35rem;
      width: 35rem;
    }
    @include respond(phone) {
      grid-row: 1;
      height: 28rem;
      width: 28rem;
    }
  }
}

.hero-cta {
  margin-top: 2.4rem;
  background: $color-secondary;
  color: #bff8fd;
  padding: 0.5rem 0.9rem;
  letter-spacing: $spacing;
  display: inline-block;
  font-weight: 800;
  font-size: 1.6rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: $radius;
  transition: all 0.3s linear;

  &:hover {
    text-decoration: none;
    color: $color-secondary-darker-2;
    background: #88ebf2;
  }
}

.social-links {
  margin-top: 3.6rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  .social-link {
    font-size: 3.6rem;
    color: $color-tertiary;
    transition: $transition;
    &:hover {
      color: $color-secondary-lighter;
    }
  }
}
